/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  background-color: #f9f6f2;
}
/* Cabeçalho */
header {
  background-color: #8c5c42;
  padding: 20px;
  text-align: center;
  color: #fff;
}
header h1 {
  margin: 0;
  font-size: 2em;
}